
#fs-browser-layout {
  position: absolute;
  left: 0;
  top: $headerHeight;
  overflow: hidden;
  z-index: 10;

  height: calc(100% - #{$headerHeight});
  width: 100%;

  #fs-layout-left,
  #fs-content {
    width: 100%;
    transition: width 0.3s ease-in-out;
  }

  @media screen and (max-width: #{$breakpointPannelVisible - 1px}) {
    .fs-content-mobile-animating &,
    .fs-content-mobile-more &,
    .fs-content-mobile-detail & {
      z-index: 17;
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    right: 0 !important;

    #fs-layout-left {
      width: calc(100% - #{$pannelWidthM});
    }

    #fs-content {
      width: $pannelWidthM;
    }
  }
}
