$fsContentSidePaddingM: 30px;
$fsContentSidePaddingS: 10px;

@import './fsContent/fsBrowserSelectAction';
@import './fsContent/fsPropertiesName';
@import './fsContent/fsContentView';
@import './fsContent/fsContentNavSmall';

#fs-content {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid $colorBrightGrey;
  background-color: $colorWhite;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 17;

  #fs-content-close {
    @include icon-button(24px);

    position: absolute;
    top: 20px;
    right: 6px;
    color: $colorMediumGrey;
  }

  #fs-content-inner {
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid $colorBrightGrey;
    box-sizing: border-box;
    padding: 42px $fsContentSidePaddingS 0;
  }

  .fs-content-visible & {
    display: block;
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    left: auto;
    bottom: auto;
    right: 0;
    top: $headerHeight;
    height: calc(100% - #{$headerHeight});
    display: block;

    #fs-content-close {
      display: none;
    }

    #fs-content-inner {
      overflow-x: hidden;
      overflow-y: auto;
      padding: 22px $fsContentSidePaddingM 0;
    }
  }
}
