@import './fsLayoutLeft/fsActionFilterSelect';
@import './fsLayoutLeft/fsCrumb';
@import './fsLayoutLeft/fsBrowserAction';
@import './fsLayoutLeft/fsBrowser';

#fs-layout-left {
  background-color: $colorBrightGrey;
  padding: 0;

  #fs-layout-left-header {
    margin: 30px 0 20px 0;
  }

  #fs-layout-left-container {
    padding: 0 30px 0 90px;
    width: 100%;
    box-sizing: border-box;
  }

  #fs-layout-left-inner {
    @include clearfix;

    margin: auto;

    width: 100%;
    max-width: 960px;

    #fs-browser-fresh {
      display: none;
    }
  }

  #fs-action-refresh {
    @include icon-button(30px, 30px);

    float: right;
    background-color: $colorWhite;
    color: $colorActiveBlue;
    border-radius: 4px;
    margin-top: 30px;

    &:hover {
      color: $colorHoverBlue;
    }
  }
}
