#fs-menu-left {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 60px;
  background-color: $colorWhite;

  z-index: 15;

  #fs-menu-left-top,
  #fs-menu-left-bottom {
    li {
      @include icon-button(60px, 60px);
      color: $colorMediumGrey;

      &.fs-menu-left-active {
        border-left: 4px solid $colorActiveBlue;
        color: $colorDarkGrey;

        .gr-icon {
          left: -8px;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $colorBrightGrey;
      }

      &:last-child:after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $colorBrightGrey;
      }

      &:hover {
        color: $colorDarkGrey;
      }
    }
  }

  #fs-menu-left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;

    li {
      &.fs-menu-left-active {
        border-left: 0;
        background-color: $colorDarkGrey;
        color: $colorWhite;

        .gr-icon {
          left: 0;
        }
      }
    }
  }


}
