@import '../../../../node_modules/slideout/index.css';

#fs-browser-layout {
  @media screen and (min-width: $breakpointPannelVisible) {
    transform: inherit !important;
  }
}

#fs-menu-left {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  left: 0;

  width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $colorWhite;
  order-right: 1px solid $colorBrightGrey;
  width: 240px;

  #fs-menu-left-top,
  #fs-menu-left-bottom {
    width: 100%;

    li {
      @include font-tabs;

      width: 100%;
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $colorBrightGrey;
      }

      &:last-child:after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $colorBrightGrey;
      }

      .fs-menu-left-icon {
        @include icon-button(60px, 60px);

        & + div {
          position: absolute;
          top: 0;
          left: 60px;
          width: 140px;
          height: 60px;
          line-height: 60px;

          span {
            display: inline-block;
            vertical-align: middle;
            line-height: $lineHeightTabs;
            text-transform: uppercase;
          }
        }
      }

      &.fs-menu-left-active {
        @include font-tabs-bold;

        border-left: 4px solid $colorActiveBlue;

        .fs-menu-left-icon {
          width: 56px;

          .gr-icon {
            left: -4px;
          }

          & + div {
            left: 56px;
          }
        }
      }
    }
  }

  #fs-menu-left-bottom {
    position: relative;

    li {
      &.fs-menu-left-active {
        border-left: 0;
        background-color: $colorDarkGrey;
        color: $colorWhite;

        .fs-menu-left-icon {
          width: 60px;
          left: 0;

          & + div {
            left: 60px;
            font-weight: 700;
          }
        }
      }

      &:before {
        display: none;
      }
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    width: 60px;
    overflow-y: hidden;
    display: block;
    z-index: 15 !important;
    transition: width 0.1s ease-in-out;

    &.fs-menu-left-open {
      width: 240px;
    }
  }

  @media screen and (min-height:547px) {
    #fs-menu-left-bottom {
      position: absolute;
      bottom: 0;
      left: 0;

      li {
        &:before {
          display: block;
        }
      }
    }
  }

}
