#fs-browser-top-bar {
  @include clearfix;
  position: relative;

  padding: 0;
  background-color: $colorWhite;

  height: $headerHeight;

  z-index: 12;

  > div {
    float: left;
    display: block;

    &.gr-icon {
      margin: 6px 0;
    }
  }

  #fs-menu-left-toggl {
    @include icon-button(60px, 60px);

    color: $colorMediumGrey;

    &:hover {
      color: $colorDarkGrey;
    }

    .gr-i-arrowhead-w {
      display: none;
    }

    &.fs-menu-left-open {
      .gr-i-arrowhead-w {
        display: block;
      }

      .gr-i-menu {
        display: none;
      }
    }
  }

  #fs-logo {
    $logoHeight: 20px;

    @include clearfix;

    margin-left: 16px;
    margin-top: ( $headerHeight - $logoHeight ) / 2;

    svg {
      width: $logoHeight;
      height: $logoHeight;
      float: left;
    }

    div {
      float: left;
      height: $logoHeight;
      font-size: 18px;
      font-weight: bold;
      line-height: $logoHeight;
      letter-spacing: 0.5px;
      text-align: left;
      margin-left: 9px;
    }

  }

  #fs-search {
    @include clearfix;

    $height: 36px;

    position: absolute;
    top: 12px;
    left: 0;
    right: 0;

    display: none;
    margin: auto;
    background-color: $colorWhite;

    width: 400px;
    height: $height;
    transition: width 0.5s ease-in-out;

    @media screen and (min-width: $breakpointSearchVisible) {
      display: block;
    }

    & > .gr-icon {
      position: absolute;
      color: $colorMediumGrey;
    }

    .gr-i-search {
      top: 6px;
      left: 7px;
    }

    #fs-search-reset {
      display: block;
      position: absolute;
      width: 30px;
      height: $height;
      right: 37px;
      top: 0;
      cursor: pointer;

      .gr-i-close {
        position: relative;
        top: 11px;
        left: 0;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }
    }

    #fs-search-mode-toggle {
      display: block;
      position: absolute;
      width: auto;
      height: $height;
      right: 67px;
      top: 0;
      cursor: pointer;
      color: $colorMediumGrey;


      span {
        position: relative;
        top: -1px;
      }

      .gr-i-expand {
        position: relative;
        top: 6px;
        left: -1px;
        cursor: pointer;
      }
    }

    #fs-search-mode-dropdown {
      display: none;
      $dropdownWidth: 220px;

      @include dropdown($dropdownWidth, 52px);

      left: calc(100% - #{$dropdownWidth + 42px});
      top: 41px;
      display: none;

      ul {
        li {
          @include font-paragraph;
          line-height: 40px;
          background-color: $colorWhite;
          cursor: pointer;
          z-index: 17;
          padding: 0;

          .gr-icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }

          label {
            padding: 0 12px;
            display: block;
            color: $colorMediumGrey;
            cursor: pointer;
          }

          input[type="radio"] {
            display: none;
          }

          &:hover {
            background-color: $colorBrightGrey;

            label {
              color: $colorDarkGrey;
            }
          }

          &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }

          &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }

    &.fs-search-mode-dropdown-open {
      #fs-search-mode-toggle .gr-i-expand {
        color: $colorDarkGrey;
      }

      #fs-search-mode-dropdown {
        display: block;
      }
    }

    #fs-search-input {
      padding: 6px 120px 6px 45px;
      float: left;
      width: calc(100% - 40px);
      height: 100%;

      background-color: $colorWhite;

      border-radius: 20px;
      border: solid 1px $colorLightGrey;

      line-height: 18px;
      font-size: $fontSizeParagraphSmall;
      letter-spacing: 0.5px;
      text-align: left;
      color: $colorDarkGrey;

      &::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
      &:-ms-input-placeholder, /* Internet Explorer 10-11 */
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $colorMediumGrey;
      }

      &::placeholder {
        opacity: 1; /* Firefox */
      }
    }

    #fs-search-toggle-filter {
      @include icon-button-small(30px);
      display: block;
      margin: 3px 0 0 10px;
      float: left;
    }

    &.fs-search-focused {
      #fs-search-input {
        @include shadow-selected;
        padding: 4px 120px 6px 44px;

        border-width: 2px;
        border-color: $colorActiveBlue;
      }

      @media screen and (min-width: $breakpointSearchBig) {
        width: 600px;
      }
    }

    &.fs-search-filtered {
      #fs-search-toggle-filter:after {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        background-color: $colorActiveBlue;
        border-radius: 50%;
      }
    }
  }


  #fs-identity {
    $identityHeight: 36px;

    float: right;
    margin-top: ( $headerHeight - $identityHeight ) / 2;

    > div,
    > ul {
      float: left;

      > li {
        @include icon-button(24px, $identityHeight);
        color: $colorMediumGrey;
        margin-left: 5px;
        float: right;

        &:hover {
          color: $colorDarkGrey;
        }

        .fs-identity-count {
          $size: 20px;
          position: absolute;
          top: -7px;
          right: -7px;

          display: none;
          width: $size;
          height: $size;
          border-radius: 50%;
          border: 2px solid $colorWhite;
          background-color: $colorActiveBlue;
          color: $colorWhite;

          font-size: 11px;
          font-weight: bold;
          line-height: $size;
          text-align: center;
        }
      }
    }

    .fs-identity-dropdown {
      @include dropdown(220px, 52px);

      display: none;

      &.fs-identity-dropdown-open {
        display: block;
      }

      .bln-dropdown-content {
        @include shadow-default;
      }
    }

    #fs-settings-dropdown-wrap {
      right: -4px;

      .bln-dropdown-spike {
        right: 12px;
      }

      #fs-settings-dropdown {
        #fs-quota {
          @include clearfix;

          width: 190px;
          margin: 25px 15px 0;

          #fs-quota-usage {
            display: block;
            border-radius: 4px;
            background-color: $colorBrightGrey;
            border: none;
            height: 6px;
            width: 100%;

            .k-state-selected {
              background-color: $colorActiveBlue;
              border-radius: 4px;
              border: none;
            }

            .k-progress-status-wrap {
              width: auto !important;
              margin: 0;

              .k-progress-status {
                background-image: none;
                margin: 14px 0 0 0;
                padding: 0;
                color: $colorActiveBlue;
                font-weight: 500;
              }
            }
          }

          #fs-quota-total,
          #fs-quota-percent,
          .k-progress-status {
            margin: 8px 0 0 0;
            line-height: 15px;
            color: $colorMediumGrey;
          }

          #fs-quota-percent {
            float: left;
            font-weight: bold;
            color: $colorActiveBlue;
          }

          #fs-quota-total {
            float: right;
          }
        }

        ul {
          margin-top: 10px;
          padding: 0 17px;
          border-top: 1px solid $colorLightGrey;

          li {
            font-size: $fontSizeParagraph;
            line-height: 40px;
            text-align: left;
            color: $colorMediumGrey;

            &:hover {
              color: $colorDarkGrey;
            }
          }
        }
      }
    }

    #fs-identity-username {
      line-height: $identityHeight;
      display: none;

      @media screen and (min-width: $breakpointUsernameVisible) {
        display: inline-block;
        max-width: 140px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    #fs-identity-avatar {
      @include avatar;

      position: relative;
      margin-left: 10px;
      margin-right: 15px;

      width: $identityHeight;
      height: $identityHeight;
      cursor: pointer;
    }
  }

  @include clearfix;
}
