// Autocomplete
.k-list-container.k-popup {
  background-color: $colorWhite;
  border: 1px solid $colorLightGrey;
  border-radius: 4px;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: hidden;

  .k-list-scroller {
    ul {
      li {
        background-color: $colorWhite;
        font-size: 15px;
        line-height: 30px;
        color: $colorDarkGrey;
        cursor: pointer;
        paddgin: 0 14px;

        &:hover {
          background: $colorBrightGrey !important;
        }
      }
    }
  }

  .k-nodata {
    paddgin: 0 14px;
    font-size: 15px;
    line-height: 30px;
    color: $colorDarkGrey;
  }
}


//Time and Datepicker
.k-timepicker,
.k-datepicker {
  padding: 0 !important;

  .k-picker-wrap {
    background-image: none;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    border: none;

    &.k-state-focused {
      box-shadow: none;
    }

    .k-input {
      line-height: 16px;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $colorLightGrey;
    }

    .k-select {
      position: absolute;
      top: 2px;
      right: 6px;
      border: none;
      padding: 0;
      width: 24px;
      height: 100%;
      color: $colorMediumGrey;

      .gr-icon {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
    }


  }
}
