//scrollable list popups
.k-list-container.k-popup {
  background-color: $colorWhite;
  border: 1px solid $colorLightGrey;
  border-radius: 4px;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: hidden;

  ul.k-list {
    li {
      background-color: $colorWhite;
      font-size: $fontSizeParagraph;
      line-height: 30px;
      color: $colorDarkGrey;
      cursor: pointer;
      padding: 0 14px;
      background-image: none !important;

      &:hover,
      &.k-state-focused {
        background: $colorBrightGrey !important;
      }
    }
  }

  .k-nodata {
    padding: 0 14px;
    font-size: $fontSizeParagraph;
    line-height: 30px;
    color: $colorDarkGrey;
  }
}

.k-autocomplete.k-state-focused {
  box-shadow: none !important;
}

.k-input {
  border-color: $colorLightGrey;
}

.k-overlay {
  opacity: 1 !important;
  filter: none !important;
  background-color: $overlayBackgroundColor;

  &.bln-overlay-clickable {
    cursor: pointer;
  }
}

.k-list-container.k-popup ul.k-list li {
  svg {
    position: relative;
    top: 6px;
    left: -3px;
  }
}

.k-list-scroller {
  overflow-x: hidden;
  overflow-y: auto;
}

div.k-window-content {
  z-index: auto;
}

@import './kendoUiOverride/date-and-time-picker';
@import './kendoUiOverride/k-calendar';
