dist: trusty
sudo: false
language: node_js
node_js: '7'
os:
- linux
notifications:
  email: false
script: make
before_deploy:
- export version=$TRAVIS_TAG
- if [[ "$version" == *"-"* ]]; then export deb_distribution=unstable; else export
  deb_distribution=stable; fi;
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then export deb_distribution=nightly; fi;
- export date=$(date +%Y-%m-%d)
- cp packaging/debian/bintray.json bintray.json
- sed -i s/'{version}'/$version/g bintray.json
- sed -i s/'{date}'/$date/g bintray.json
- sed -i s/'{deb_distribution}'/$deb_distribution/g bintray.json
- cat bintray.json
deploy:
- provider: releases
  api_key:
    secure: WXsFv62P7BYeM0s32rcGx/LqdwECQRvUJWJ8YDZ4jdv8w4O4vlCLURiwW/65WNi7peKiMpPmv7q/NOtNrXT1PDIMyeMeJvToHGELyepGex0v1goqfURExpIEm8ddC2HiJf7ctgk7V5CichL/1DpJ2BWzCMUi1OnhLfjWpXQz4OZN8X5XwcgtMjUzEy/Ry1xMbbhrBs4a3IKyBJsbN7TRWibHsJHfl5pvk5qq7xL2s8/5/vEwMDZYFdK8BraF9AOUSqTqrDv2dfdkQrbZNiS2vPGAHdP+YRGGlbZoyHU10wIYJ3zEJ5zVtnAxa7TawZaomPVo6eglr9EuE5D79LVQVHLpBiSfAUViYuZkgxaAgeh4lpgpHgjeIYbetZ4arAcpov3Dnkpqc2Iu95M2jN5ehFtSP23OBoSxseJ3aHwQEnKJy9N6Yhww+l6E6HGqUaa+cVlVdP2zhu462oWH/4HVb1V9yrXij5+/Lo/JWYw58t86gpQTL3DmQQ0SSSj/iwaTN/qpJtzRv2ZfTY7RDS/MUiCZLf8zJ4c+BzBUVBRhIvq8LGusVhszOUhkHqndtaGHGI0+anNvvCTLUv09tOhp1m7uLB6xRloxQPdIcYfNN20+WL/zUYqOLmUx3wc0bpLh8LCHj8wbGYW7RbYcKQw66BmKgfLxUdBEBISDkgKuYx0=
  file_glob: true
  file: dist/*
  skip_cleanup: true
  on:
    master: true
- provider: bintray
  file: bintray.json
  user: raffis
  key:
    secure: dqYiouXasiWqN2J+OeZGVnyNkpP3In3+WL55OctHYdJJmUACxlfc4yislhtYZVLNJB3BP2GI/HXpgmGDMjP/X8qaFsup8FnHGge/3k/S8TEUP5NneFaGXXfWKi3yac0cYvO1FOi1B2rp50XvXco2ydg9ETD8ZSPzMiVysP3/iAzTeyAVvjkOIGUMNYH4XKVfuVg4ba6qeHGa3/GdIwF5OvDdj9T58cPjN7LHIUjDE1xEFtzgs4R0vclKfIJglOVHWmv2a6nOi9CQfaiVi6evGhHSoO9G25ragR1Nsiluijx/ASjPuTiG7ZU/1p7VlsKv5HVTVi/7ARtJZAkg9LjFp8T2DeWuA5kzt2v8rNU18bouSMZu49NGky4l0S4qJsYtB1Nof+Ti2tEBfifv1v//Ey5gRFVfLWPzJ7td55xm3JN5KynPIoIuW9XcgkLIlCZyGSsuxggqPnIUzGS79yybps1UQH6VrN2Hn94kO7aLrRahe61EkvgqUB6WYOM35OyaGinvVM+FIGeWWxtDXRzYLLoxxq6AP4CczSgSt3nUcdVVnwRg0m0vz/IKwg4SG4XEsLBleCNe8FJkdC8VN3mQyww1kgyxpxumE9WgebXFPBxRILqS+zcD33X0Rc5hrKy7A5fm0bfvFqMut+H+kvNlzVHtf0/gVd3h+p46pF2sr08=
  on:
    master: false
    tags: true
- provider: bintray
  file: bintray.json
  user: raffis
  on:
    tags: true
  key:
    secure: dqYiouXasiWqN2J+OeZGVnyNkpP3In3+WL55OctHYdJJmUACxlfc4yislhtYZVLNJB3BP2GI/HXpgmGDMjP/X8qaFsup8FnHGge/3k/S8TEUP5NneFaGXXfWKi3yac0cYvO1FOi1B2rp50XvXco2ydg9ETD8ZSPzMiVysP3/iAzTeyAVvjkOIGUMNYH4XKVfuVg4ba6qeHGa3/GdIwF5OvDdj9T58cPjN7LHIUjDE1xEFtzgs4R0vclKfIJglOVHWmv2a6nOi9CQfaiVi6evGhHSoO9G25ragR1Nsiluijx/ASjPuTiG7ZU/1p7VlsKv5HVTVi/7ARtJZAkg9LjFp8T2DeWuA5kzt2v8rNU18bouSMZu49NGky4l0S4qJsYtB1Nof+Ti2tEBfifv1v//Ey5gRFVfLWPzJ7td55xm3JN5KynPIoIuW9XcgkLIlCZyGSsuxggqPnIUzGS79yybps1UQH6VrN2Hn94kO7aLrRahe61EkvgqUB6WYOM35OyaGinvVM+FIGeWWxtDXRzYLLoxxq6AP4CczSgSt3nUcdVVnwRg0m0vz/IKwg4SG4XEsLBleCNe8FJkdC8VN3mQyww1kgyxpxumE9WgebXFPBxRILqS+zcD33X0Rc5hrKy7A5fm0bfvFqMut+H+kvNlzVHtf0/gVd3h+p46pF2sr08=
after_success:
- "curl -s -X POST -H 'Content-Type: application/json' -H 'Accept: application/json' -H 'Travis-API-Version: 3' -H \"Authorization: token $TRAVIS_API_TOKEN\" -d \\\"{\"request\":{\"message\":\"trigger build\", \"branch\":\"master\", \"config\":{\"env\":{\"matrix\":[\"VERSION=$version\"]}}}}\\\" \"https://api.travis-ci.org/repo/gyselroth%2Fballoon-docker-web/requests\""
env:
  global:
  - secure: m13MizT1AcfECjdbtO7HkyNU4fNti73FhsAJu88DIY2k97zERfZWybABEcCZYShGByuwJJpi4Gr23G2QIBKb9zDDAGXYJw9BjN3lbCT8SGIu/eEBUi3FZRR0p/sjA3Re9pQuSGHxBZwUouPsUHyyugdLij5/8s0oJBPaWYRv/HWfd862d4y9pV8VpG+2EUEqC2oDWRvRQdFRTNu7/XgSKj/7Xf3Rz0BBFT0jEMb4x11R+9QctqRqDK85WsZEwquTrHOkvs9j50Ojim1DZ/AuPWicv1KYT1aMjeTWkhcZjFQ15tfuKhKj872fA7ohd8Qqp2ygGk88pU+2w0WyeiwHbp8GHtNHOQqO8B7kXqslo2ZXZs36nKP6E/n7Lw37MeJOgW6Py2QIx/1VNRv9tpybTq3CzgxXa2A8uw1gdjwH0kdmJZ/AM+oDq5lq4RjgVx4Ne4bcQpwe0p19AhtdO9P5kjdNPor6UgBmx6IFoyiaBcrrHYbZue7IfPL83BkXuPu07oocFB558kcQ+TV+8RuHhID7Kg+slsWaRwIxia1AUEWNEAjLfVgoXkHzCdTtdvS5HPGvKTz8a62yfQqYCFeCn6Ioi4mPTtYRLsnynuZoktYe3oSzJcqz3T/RKcinOxjTxJ5DJUSgkhbruPaImEwweJS87pwe5SlMMX18xjVNVUo=
