//width breakpoints
$breakpointSearchBig: 1050px;
$breakpointPannelVisible: 800px;
$breakpointMenuVisible: 550px;
$breakpointSearchVisible: 777px;
$breakpointUsernameVisible: 945px;
$breakpointBreadcrumb: 420px;
$breakpointWindowFullscreen: 550px;
$breakpointWindowFormsFloat: $breakpointBreadcrumb;

//height breakpoints
$breakpointFixedTreeHeader: 570px;
