$breakpointSearchBig: 1050px;
$breakpointPannelVisible: 800px;
$breakpointMenuVisible: 550px;
$breakpointSearchVisible: 777px;
$breakpointUsernameVisible: 777px;
$breakpointBreadcrumb: 420px;
$breakpointWindowFullscreen: 550px;
