/** Colors **/
$colorWhite: #fff;
$colorBrightGrey: #f4f4f4;
$colorLightGrey: #ddd;
$colorMediumGrey: #999;
$colorDarkGrey: #333;

$colorActiveBlue: #39a5ff;
$colorHoverBlue: #1e8eed;
$colorPurple: #9f7df7;

$colorGreen: #66c004;
$colorYellow: #f5a623;
$colorRed: #f03926;

$colorTag1: #e674a0;
$colorTag2: #d5d945;
$colorTag3: #5d8baa;
$colorTag4: #85c881;
$colorTag5: #bda1d0;
$colorTag6: #f6a98c;
