/** Colors **/
$colorWhite: #fff;
$colorBrightGrey: #f4f4f4;
$colorLightGrey: #ddd;
$colorMediumGrey: #999;
$colorDarkGrey: #333;

$colorActiveBlue: #39a5ff;
$colorHoverBlue: #1e8eed;

$colorErrorRed: #d0021b;
$colorSuccessGreen: #7ed321;

$colorMagenta: #ff4d8d;
$colorPurple: #854dff;
$colorBlue: #4dc9ff;
$colorGreen: #4dff88;
$colorYellow: #ffe14c;

$overlayBackgroundColor: rgba(0, 0, 0, 0.4);
