@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin checkbox($checkboxSize) {
  width: $checkboxSize;
  height: $checkboxSize;
  padding: 0;
  border: 1px solid $colorMediumGrey;
  border-radius: 2px;
  font-size: $checkboxSize;
  line-height: $checkboxSize;
  text-align: center;
}

@mixin checkboxChecked {
  border-color: $colorActiveBlue;
  background-color: $colorActiveBlue;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iMTUuODYgOC4zNiAxMC41IDEzLjczIDguMTQgMTEuMzYgNi44NiAxMi42NCAxMC41IDE2LjI3IDE3LjE0IDkuNjQgMTUuODYgOC4zNiIgc3Ryb2tlPSIjZmZmIiBmaWxsPSIjZmZmIiAvPjwvc3ZnPg==');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120%;
}

@mixin checkboxUndetermined {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9IiMzOWE1ZmYiIHg9IjQiIHk9IjExIiB3aWR0aD0iMTYiIGhlaWdodD0iMiIvPjwvc3ZnPg==');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin checkboxDisabled {
  border-color: $colorLightGrey;
}

@mixin checkboxCheckedDisabled {
  border-color: $colorLightGrey;
  background-color: $colorLightGrey;
}

@mixin icon-button($width:60px, $height:null) {
  @if ($height == null) { $height: $width }

  position: relative;
  display: block;
  width: $width;
  height: $height;
  cursor: pointer;
  transition: color .5s ease-in-out, background-color .7s ease-in-out, border-color .7s ease-in-out;

  .gr-icon {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  }
}

@mixin icon-button-small($width:60px, $height:null) {
  @include icon-button($width, $height);

  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  color: $colorActiveBlue;
  border: 1px solid $colorLightGrey;
  background-color: $colorWhite;

  .fs-tiny-button-count {
    $size: 16px;

    position: absolute;
    top: -1 * $size / 2;
    right: -1 * $size / 2;
    width: $size;
    height: $size;
    background-color: $colorActiveBlue;
    border-radius: 50%;
    color: $colorWhite;
    font-size: 10px;
    line-height: $size;
    text-align: center;
    font-weight: bold;
  }

  &:hover {
    color: $colorWhite;
    border-color: $colorActiveBlue;
    background-color: $colorActiveBlue;
  }


  &.fs-action-disabled,
  &.fs-action-disabled:hover {
    color: $colorLightGrey !important;
    border-color: $colorLightGrey !important;
    background-color: $colorWhite !important;
    cursor: default;

    .fs-tiny-button-count {
      display: none;
    }
  }
}

@mixin shadow-default {
  box-shadow: 0 0 25px 0 rgba(77, 75, 89, 0.12);
}

@mixin shadow-hover {
  box-shadow: 0 5px 30px 0 rgba(77, 75, 89, 0.24);
}

@mixin shadow-selected {
  box-shadow: 0 2px 25px 0 rgba(77, 75, 89, 0.24);
}

@mixin dropdown($dropdownWidth:220px, $top:0) {
  display: block;
  position: absolute;
  top: $top + 9px;
  width: $dropdownWidth;
  z-index: 15;
  padding-top: 0;

  .bln-dropdown-spike {
    position: absolute;
    top: -8px;
    right: 50%;
    display: block;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 9px solid $colorLightGrey;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $colorWhite;
    }
  }

  .bln-dropdown-content {
    width: 100%;
    background-color: $colorWhite;
    border-radius: 4px;
    border: solid 1px $colorLightGrey;
    z-index: 16;
  }
}

@mixin tag-list {
  .tag {
    position: relative;
    float: left;
    display: block;
    background-color: $colorBrightGrey;
    border: 1px solid $colorLightGrey;
    border-radius: 4px;
    margin: 5px 5px 0 0;
    height: auto;
    padding: 0 20px 0 10px;
    box-sizing: border-box;
    line-height: 28px;
    word-break: break-all;

    &:last-child {
      margin-right: 0;
    }

    .tag-name,
    .fs-delete {
      display: inline-block;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: $colorDarkGrey;
      cursor: pointer;
    }

    .tag-name {
      padding-right: 10px;
    }

    .fs-delete {
      color: $colorMediumGrey;
      position: absolute;
      top: 0;
      right: 6px;

      .gr-icon {
        position: relative;
        top: 3px;
        width: 14px;
        height: 14px;

      }
    }
  }
}

@mixin events-list {
  li {
    @include clearfix;

    $iconWidth: 40px;
    $undoWidth: 45px;

    border: 1px solid $colorLightGrey;
    border-radius: 4px;
    padding: 8px 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .fs-events-icon,
    .fs-events-text,
    .fs-events-undo {
      display: inline-block;
      vertical-align: top;
    }

    .fs-events-icon {
      width: $iconWidth;
      color: $colorMediumGrey;
      text-align: center;
    }

    .fs-events-text {
      overflow: hidden;
      box-sizing: border-box;
      width: calc(100% - #{$iconWidth} - #{$undoWidth});
      padding: 0;

      p {
        line-height: 17px;
        font-weight: 300;

        &:first-child {
          color: $colorDarkGrey;
        }

        .fs-event-name {
          font-style: italic;
        }
      }

      .gr-icon {
        position: relative;
        top: 3px;
        width: 15px;
        height: 15px;
      }
    }

    .fs-events-undo {
      width: $undoWidth;
      color: $colorActiveBlue;
      text-align: center;
      cursor: pointer;
    }
  }
}

@mixin history-list {
  li {
    @include clearfix;

    $selectWidth: 16px;

    border: 1px solid $colorLightGrey;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &.selected {
      padding: 7px 14px;
      border: 2px solid $colorActiveBlue;
    }

    .fs-history-select,
    .fs-history-text {
      display: inline-block;
      vertical-align: middle;
    }

    .fs-history-select {
      width: $selectWidth;

      input {
        margin: 0;
      }
    }

    .fs-history-text {
      box-sizing: border-box;
      width: calc(100% - #{$selectWidth});
      padding-left: 9px;

      h6,
      p {
        line-height: 17px;
        font-weight: 300;

        .fs-history-text-version {
          color: $colorDarkGrey;
        }

        .fs-history-text-action {
          &:before {
            content: "";
            width: 2px;
            display: inline-block;
          }
        }
      }
    }
  }
}

@mixin avatar {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $colorBrightGrey;
  border-radius: 4px;

  &.has-avatar {
    background-size: cover;
  }

  &.avatar-user {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5OTk5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGQ9Ik0xMiwxMkE0LDQsMCwwLDEsOCw4VjdhNCw0LDAsMCwxLDgsMFY4QTQsNCwwLDAsMSwxMiwxMlptMC03YTIsMiwwLDAsMC0yLDJWOGEyLDIsMCwwLDAsNCwwVjdBMiwyLDAsMCwwLDEyLDVaIi8+PHBhdGggZD0iTTIwLDIwSDRWMTUuNDZsMC40NS0uM0ExNC43OCwxNC43OCwwLDAsMSwxMiwxM2ExNC43OCwxNC43OCwwLDAsMSw3LjU1LDIuMTdMMjAsMTUuNDZWMjBaTTYsMThIMThWMTYuNTdBMTMsMTMsMCwwLDAsMTIsMTVhMTIuOTQsMTIuOTQsMCwwLDAtNiwxLjU3VjE4WiIvPgo8L3N2Zz4=');
  }

  &.avatar-group {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5OTk5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGQ9Ik0yMSwxMi40MWwtMC41Mi0uMjhBMTIuMTUsMTIuMTUsMCwwLDAsMTUsMTFIMTN2MmgyYTExLjYxLDExLjYxLDAsMCwxLDQsLjY2VjE2SDE1VjE0LjQxbC0wLjUyLS4yOEExMi4xNSwxMi4xNSwwLDAsMCw5LDEzYTEyLjE1LDEyLjE1LDAsMCwwLTUuNDgsMS4xMkwzLDE0LjQxVjIwSDE1VjE4aDZWMTIuNDFaTTEzLDE4SDVWMTUuNjZBMTEuNiwxMS42LDAsMCwxLDksMTVhMTEuNjEsMTEuNjEsMCwwLDEsNCwuNjZWMThaIi8+PHBhdGggZD0iTTksMTJhMywzLDAsMCwwLDMtM1Y4QTMsMywwLDAsMCw2LDhWOUEzLDMsMCwwLDAsOSwxMlpNNy44LDhhMS4yLDEuMiwwLDAsMSwyLjQsMFY5QTEuMiwxLjIsMCwxLDEsNy44LDlWOFoiLz48cGF0aCBkPSJNMTYsMTBhMywzLDAsMCwwLDMtM1Y2YTMsMywwLDAsMC02LDBWN0EzLDMsMCwwLDAsMTYsMTBaTTE0LjgsNmExLjIsMS4yLDAsMCwxLDIuNCwwVjdhMS4yLDEuMiwwLDAsMS0yLjQsMFY2WiIvPjwvc3ZnPg==');
  }
}

@mixin accordion($sidePadding:30px, $highlightActive:true) {
  dt {
    position: relative;
    font-size: $fontSizeLead;
    font-weight: $fontWeightLead;
    line-height: 20px;
    color: $colorDarkGrey;
    border-top: 1px solid $colorBrightGrey;
    margin: 0 -1*$sidePadding 0;
    padding: 16px $sidePadding 18px;
    cursor: pointer;

    .gr-icon {
      display: block;
      position: absolute;
      top: 13px;
      right: 20px;
      color: $colorMediumGrey;
    }

    .gr-i-arrowhead-n {
      display: none;
    }

    &.active {
      @if $highlightActive == true {
        &:before {
          content: "";
          display: block;
          height: 100%;
          width: 2px;
          background-color: $colorActiveBlue;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .gr-i-arrowhead-s {
        display: none;
      }
      .gr-i-arrowhead-n {
        display: block;
      }
    }

    &.disabled {
      color: $colorLightGrey;

      .gr-i-arrowhead-s {
        color: $colorLightGrey;
      }
    }
  }

  dd {
    @include font-paragraph-small;
    position: relative;
    display: none;
    padding-top: 2px;
    padding-bottom: 65px;

    color: $colorMediumGrey;
    vertical-align: middle;

    &.active {
      display: block;

      @if $highlightActive == true {
        &:before {
          content: "";
          display: block;
          height: 100%;
          width: 2px;
          background-color: $colorActiveBlue;
          position: absolute;
          left: -1 * $sidePadding;
          top: 0;
        }
      }
    }

    &.disabled {
      display: none !important;
    }
  }
}
