$sidePadding: 60px;

#fs-change-password-window {
  display: none;
  width: 490px + (2 * $sidePadding);

  .fs-window-form {
    $labelWidth: 150px;

    label {
      width: $labelWidth;
    }

    input[type='password'] {
      width: calc(100% - #{$labelWidth + 15px});
    }
  }
}
