$sidePadding: 60px;

.fs-destroy-date-window {

}

#fs-destroy-date-window {
  display: none;
  width: 640px + (2 * $sidePadding);
  padding-bottom: 40px;
  padding-top: 13px;

  #fs-destroy-date-window-content {
    p {
      color: $colorMediumGrey;
      margin: 0;
    }

    fieldset {
      @include clearfix;

      margin-top: 30px;

      div {
        float: left;
        width: 50%;
        box-sizing: border-box;

        &:first-child {
          padding-right: 10px;
        }

        &:last-child {
          padding-left: 10px;
        }

        label {
          @include font-paragraph-bold;
          display: block;

          span {
            color: $colorMediumGrey;
            font-weight: $fontWeightParagraph;
          }
        }

        & > .k-datepicker,
        & > .k-timepicker {
          display: block;
          width: 100%;

          .k-select {
            top: 9px;
            right: 10px;
          }
        }

        & > .k-datepicker input[type="text"],
        & > .k-timepicker input[type="text"],
        & > input[type="password"] {
          font-size: $fontSizeParagraph;
          font-weight: $fontWeightParagraph;
          padding: 12px 15px 13px;
          height: auto;
        }

        & > .k-datepicker .k-state-focused input[type="text"],
        & > .k-timepicker .k-state-focused input[type="text"],
        & > input[type="password"]:focus {
          padding: 11px 14px 12px;
        }
      }
    }


  }
}
