$sidePadding: 60px;

.fs-help-window {
  height: 500px;
  max-height: 100vh;
}

#fs-help-window {
  display: none;
  width: 680px + (2 * $sidePadding);

  #fs-help-window-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding-right: $sidePadding;

    ul {
      padding-bottom: 100px;

      li {
        border: 1px solid $colorLightGrey;
        border-radius: 4px;
        padding: 8px;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 300;
        color: $colorDarkGrey;

        &:last-child {
          margin-bottom: 0;
        }

        .gr-icon {
          width: 17px;
          height: 17px;
          margin-bottom: -4px
        }

        a {
          color: $colorActiveBlue;
        }

        span {
          font-weight: bold;
          margin-bottom: 4px;
        }
      }
    }

    #fs-help-window-footer {
      position: fixed;
      bottom: 0;
      left: 0;

      display: block;
      height: 100px;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    }
  }
}
