.fs-hint-window {
  padding-left: 50px;
  padding-right: 50px;
}

#fs-hint-window {
  display: none;
  overflow: auto;

  width: 460px;
  padding-bottom: 40px;

  #fs-hint-window-content {
    font-size: 15px;
    line-height: 20px;
    color: $colorDarkGrey;
  }

  svg {
    margin-bottom: -6px;
  }
}
