#fs-prompt-window {
  display: none;
}

.fs-prompt-window {
  padding-left: 50px;
  padding-right: 50px;

  hr.full-width {
    width: calc(100% + 100px);
    margin-left: -50px;
    margin-right: -50px;
  }

  & > div.k-header .k-window-actions {
    right: -26px;
  }
}


.k-window >div.fs-prompt-window-inner {
  display: none;
  padding-bottom: 40px;
  max-width: 500px;

  ul {
      margin: 8px 0;
      max-height: 300px;
      overflow-y: auto;
  }

  .fs-prompt-window-content ul {
    background: none;

    li {
      font-weight: lighter;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 300px;
    }
  }
}
