$availableColor: $colorLightGrey;
$usedColor: $colorActiveBlue;
$sidePadding: 50px;

@import "../includes/percentage-circle";

.fs-profile-window {

  width: 800px;

  & > div.k-header {
    padding: 0 $sidePadding;

    .k-window-title {
      left: $sidePadding;
      width: calc(100% - #{2 * $sidePadding});
    }
  }

  & > div.k-window-content {
    box-sizing: border-box;
    padding-left: $sidePadding;
    padding-right: $sidePadding;
  }

  hr.full-width {
    width: calc(100% + #{2 * $sidePadding});
    margin: 29px #{-1 * $sidePadding};
  }
}

#fs-profile-window {
  $lineHeight: 30px;
  display: none;

  dl {
    @include accordion($sidePadding, false);

    dt {
      .gr-icon {
        right: 50px;
      }
    }
  }

  #fs-profile-window-quota {
    position: relative;
    margin-bottom: 50px;

    #fs-quota-circle {
      margin-left: 25px;
    }

    #fs-profile-quota {
      position: absolute;
      right: 0;
      top: calc(50% - #{3 * 30px / 2});

      table {
        border-collapse: collapse;

        th,
        td {
          width: 170px;
          font-size: $fontSizeParagraph;
          line-height: $lineHeight;
          font-weight: $fontWeightParagraph;
          text-align: left;
          color: $colorDarkGrey;
          text-align: left;
        }

        td {
          width: 148px;
          text-align: right;
          font-weight: bold;
        }
      }

      #fs-profile-quota-used,
      #fs-profile-quota-left {
        th {
          position: relative;
          padding-left: 30px;

          &:before {
            display: block;
            position: absolute;
            top: 14px;
            left: 0;
            content: "";
            background-color: $usedColor;
            width: 20px;
            height: 5px;
            border-radius: 4px;
          }
        }
      }

      #fs-profile-quota-left {
        th {
          &:before {
            background-color: $availableColor;
          }
        }
      }
    }
  }

  #fs-profile-window-user {
    $avatarSize: 120px;

    position: relative;
    margin-top: 30px;

    #fs-profile-avatar {
      @include avatar;

      width: $avatarSize;
      height: $avatarSize;
    }

    #fs-profile-user {
      position: absolute;
      left: $avatarSize + 40px;
      top: calc(50% - 45px);

      th,
      td {
        color: $colorMediumGrey;
        width: 110px;
        font-size: $fontSizeParagraph;
        font-weight: $fontWeightParagraph;
        line-height: $lineHeight;
        text-align: left;
      }

      td {
        padding-left: 80px;
        color: $colorDarkGrey;
        width: 346px;
      }
    }
  }

  #fs-profile-window-google-authenticator,
  #fs-profile-window-webauthn {
    p {
      margin-bottom: 20px;

      a {
        color: $colorActiveBlue;

        &:hover {
          text-decoration: underline;
          color: $colorHoverBlue;
        }
      }
    }

    #fs-profile-window-google-authenticator-buttons,
    #fs-profile-window-webuathn-buttons, {
      width: 100%;
    }

    #fs-profile-window-google-authenticator-code {
      width: 200px;
      height: 200px;
      margin-top: 20px;
    }

    #fs-profile-window-google-authenticator-secret {
      color: $colorActiveBlue;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: $breakpointWindowFormsFloat) {
  #fs-profile-window {
    #fs-profile-window-change-password {
      .fs-window-form {
        $labelWidth: 150px;

        & > div {
          @include clearfix;

          label {
            width: $labelWidth;
          }

          input[type='password'] {
            width: calc(100% - #{$labelWidth + 15px});
          }
        }
      }
    }

    #fs-profile-window-google-authenticator {
      @include clearfix;

      #fs-profile-window-google-authenticator-buttons {
        float: left;
        width: calc(100% - 200px);
      }

      #fs-profile-window-google-authenticator-code {
        float: right;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: $breakpointWindowFullscreen + 1px) {
  #fs-profile-window {
    dl {
      dt {
        .gr-icon {
          right: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpointWindowFullscreen) {
  .fs-profile-window {
    width: 100% !important;
  }

  #fs-profile-window {
    #fs-profile-window-quota {
      #fs-quota-circle {
        display: none;
      }

      #fs-profile-quota {
        position: relative;
        left: 0;
        top: 0;

        table {
          width: 100%;

          td {
            text-align: right;
            padding-left: 20px;
          }
        }
      }
    }

    #fs-profile-window-user {
      #fs-profile-avatar {
        display: none;
      }

      #fs-profile-user {
        position: relative;
        left: 0;
        top: 0;

        table {
          width: 100%;

          td {
            text-align: right;
            padding-left: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 799px) and (min-width: $breakpointWindowFullscreen+1px) {
  .fs-profile-window {
    width: $breakpointWindowFullscreen !important;
    height: 405px !important;
  }

  #fs-profile-window {
    $chartSize: 80px;

    #fs-profile-window-quota {
      #fs-quota-circle {
        margin-left: 0;
      }

      .percent-circle,
      .percent-circle .chart {
        width: $chartSize;
        height: $chartSize;

        figcaption {
          display: none;
        }

        .css-fallback {
          font-size: $chartSize;
          display: block !important;

          .percent-text {
            font-size: 18px;
            line-height: 46px;
          }
        }
        figure {
          display: none !important;
        }
      }
    }

    #fs-profile-window-user {
      #fs-profile-avatar {
        width: 80px;
        height: 80px;
      }

      #fs-profile-user {
        left: 100px;

        td {
          padding-left: 63px;
        }
      }
    }
  }
}

@media only screen and (max-width: 455px) {
  #fs-profile-window {
    #fs-profile-window-quota {
      #fs-profile-quota {
        table {
          th,
          td {
            display: block;
            width: 100%;
            text-align: left;
            padding-left: 0;
            line-height: 24px;
          }

          td {
            margin-bottom: 12px;
          }
        }

        #fs-profile-quota-left,
        #fs-profile-quota-used {
          th:before {
            top: 10px;
          }
        }
      }
    }

    #fs-profile-window-user {
      #fs-profile-user {
        table {
          th,
          td {
            display: block;
            width: 100%;
            text-align: left;
            padding-left: 0;
            line-height: 24px;
          }

          td {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
