$sidePadding: 30px;

.fs-share-link-settings-window {
  & > div.k-header {
    padding: 0 $sidePadding;

    .k-window-title {
      left: $sidePadding;
      width: calc(100% - #{2 * $sidePadding});
    }
  }

  & > div.k-window-content {
    box-sizing: border-box;
    padding-left: $sidePadding;
    padding-right: $sidePadding;
  }

  hr.full-width {
    width: calc(100% + #{2 * $sidePadding});
    margin: 29px #{-1 * $sidePadding};
  }
}

#fs-share-link-settings-window {
  $checkboxSize: 20px;
  $labelWidthS: 240px;
  $labelWidthM: 250px;

  display: none;
  width: 700px + (2 * $sidePadding);
  padding-bottom: 31px;

  #fs-share-link-settings-window-content {
    .fs-share-link-settings-window-row {
      @include clearfix;

      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      .fs-share-link-settings-window-checkbox,
      & > label,
      & > input[type="text"],
      & > input[type="password"] {
        display: block;
        box-sizing: border-box;
      }

      .fs-share-link-settings-window-checkbox,
      & > label {
        float: left;
      }


      .fs-share-link-settings-window-checkbox {
        $height: 45px;
        width: $checkboxSize;
        height: $height;
        line-height: $height;
        font-size: $checkboxSize;

        input[type="checkbox"] + label {
          margin-top: 1px;
          padding-left: 0;
        }

        & + label {
          padding-left: 10px;
          width: $labelWidthS;
          line-height: $height;

          span {
            color: $colorMediumGrey;
          }
        }
      }

      #fs-share-link-destroy {
        & + label {
          padding-top: 1px;
          font-size: $fontSizeParagraph;
        }
      }


      & > .k-datepicker,
      & > .k-timepicker,
      & > input[type="password"] {
        width: 100% !important;

        .k-select {
          top: 9px;
          right: 10px;
        }
      }

      & > .k-datepicker input[type="text"],
      & > .k-timepicker input[type="text"],
      & > input[type="password"] {
        font-size: $fontSizeParagraph;
        font-weight: $fontWeightParagraph;
        padding: 12px 15px 13px;
        height: auto;
      }

      & > .k-datepicker .k-state-focused input[type="text"],
      & > .k-timepicker .k-state-focused input[type="text"],
      & > input[type="password"]:focus {
        padding: 11px 14px 12px;
      }
    }
  }

  .fs-window-secondary-actions {
    margin-top: 30px;
  }

  @media screen and (min-width: $breakpointWindowFullscreen+1px) {
    #fs-share-link-settings-window-content {
      .fs-share-link-settings-window-row {
        & > input[type="text"],
        & > input[type="password"] {
          float: left;
        }

        .fs-share-link-settings-window-checkbox {
          & + label {
            width: $labelWidthM;
          }
        }

        & > .k-datepicker,
        & > .k-timepicker,
        & > input[type="password"] {
          width: calc(100% - #{$checkboxSize + $labelWidthM}) !important;
        }
      }
    }
  }
}
