$sidePadding: 30px;

.fs-share-link-window {
  & > div.k-header {
    padding: 0 $sidePadding;

    .k-window-title {
      left: $sidePadding;
      width: calc(100% - #{2 * $sidePadding});
    }
  }

  & > div.k-window-content {
    box-sizing: border-box;
    padding-left: $sidePadding;
    padding-right: $sidePadding;
  }

  hr.full-width {
    width: calc(100% + #{2 * $sidePadding});
    margin: 29px #{-1 * $sidePadding};
  }
}

#fs-share-link-window {
  $deleteButtonSize: 30px;

  display: none;
  width: 700px  + (2 * $sidePadding);
  padding-bottom: 30px;

  #fs-share-link-window-content {
    .fs-share-link-window-row {
      @include clearfix;

      p.fs-hint {
        display:  block;
        float: left;
        width: 510px;

        & + input {
          display: block;
          float:  right;
        }
      }

      input[name="file_url"] {
        color: $colorActiveBlue;
        font-size: $fontSizeParagraph;
        font-weight: $fontWeightParagraph;
        padding: 5px 6px;
        width: calc(100% - #{$deleteButtonSize + 10px});
        float: left;

        &:focus {
          padding: 4px 5px;
        }
      }

      #fs-share-link-window-delete {
        @include icon-button-small($deleteButtonSize);

        display: block;
        margin: 0;
        float: right;
      }
    }

    h2 {
      margin: 20px 0 7px;

      span {
        display: inline-block;
        font-size: $fontSizeParagraphBold;
        font-weight: $fontWeightParagraphBold;
        line-height: $lineHeightParagraphBold;

        &.fs-hint {
          margin-left: 4px;
          font-size: $fontSizeParagraph;
          font-weight: $fontWeightParagraph;
        }
      }
    }

    #fs-share-link-window-message-form {
      @include tag-list;

      label {
        display: block;
        font-size: $fontSizeParagraphBold;
        font-weight: $fontWeightParagraphBold;
        line-height: $lineHeightParagraphBold;
        margin: 20px 0 8px;

        &:first-child {
          margin-top: 0;
        }
      }

      textarea {
        font-size: $fontSizeParagraph;
        padding: 12px 15px 13px;
        height: auto;

        &:focus {
          padding: 11px 14px 12px;
        }
      }

      textarea {
        height: 100px;
      }

      #fs-share-link-window-recipient-list {
        @include clearfix;
        @include tag-list;

        border: 1px solid $colorLightGrey;
        border-radius: 4px;
        padding: 1px 15px 7px;
        font-weight: 400;
        margin: 0;

        &:focus-within {
          border-color: $colorActiveBlue;
          border-width: 2px;
          padding: 0 14px 6px;
        }

        .tag {
          &.is-invalid {
            border-color: $colorErrorRed;
            background-color: lighten($colorErrorRed, 50);
          }

          .tag-name {
            cursor: default;
          }
        }

        .k-autocomplete {
          margin: 0;
          padding: 0;
          border: none;
          background-color: transparent;
          background-image: none;
          width: auto;

          input {
            float: left;
            border: 1px solid transparent !important;
            font-size: $fontSizeParagraph;
            font-weight: $fontWeightParagraph;
            line-height: 28px;
            padding: 0;
            height: auto;
            width: auto;
            min-width: 250px;
            margin-top: 5px;
            background-color: transparent;
          }

          .k-icon {
            display: none !important;
          }
        }
      }

      .fs-window-secondary-actions {
        margin-top: 30px;
      }
    }
  }
}
