@import '../../../themes/default/scss/includes/breakpoints';
@import '../../../themes/default/scss/includes/colors';
@import '../../../themes/default/scss/includes/mixins';

@import './messages/dropdown';

/**
Styles for side pannel
**/
#fs-notification {
  div {
    margin-bottom: 5px;

    &:first-child {
      margin-bottom: 15px;
    }

    &.fs-notification-suboption {
      padding-left: 30px;
    }
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}
