#fs-browser {
  $headerHeight: 28px; //height of the header
  $headerBorderColor: $colorLightGrey;
  $nodeHeight: 54px; //height of a single node

  $lineHeight: 46px;

  $iconWidth: 26px;
  $metaWidth: 120px;
  $sizeWidth: 115px;
  $changedWidth: 150px;
  $checkboxWidth: 18px;

  $columnPaddingLeftRight: 25px;

  $border-radius: 4px;

  $breakpointMetaVisible: 414px;
  $breakpointSizeChangedVisible: 750px;

  $fsContentHeightMultiselectS: 144px;
  $fsContentHeightSelectS: 200px;

  $bottomPadding: 90px;

  $fsActionRefreshTop: 30px;
  $fsActionRefreshButtonSize: 30px;


  position: relative;
  padding-bottom: $bottomPadding;

  .fs-content-paste-active & {
    padding-bottom: #{$bottomPadding + $fsContentHeightMultiselectS};
  }

  .fs-content-multiselect-active & {
    padding-bottom: #{$bottomPadding + $fsContentHeightMultiselectS};
  }

  .fs-content-select-active & {
    padding-bottom: #{$bottomPadding + $fsContentHeightSelectS};
  }

  .fs-browser-column {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 $columnPaddingLeftRight;
    line-height: $lineHeight;
    vertical-align: middle;
    color: $colorMediumGrey;

    &.fs-browser-column-sortable {
      cursor: pointer;

      .gr-icon {
        $iconSize: 20px;

        position: relative;
        top: 5px;
        left: 0;
        width: $iconSize;
        height: $iconSize;
      }
    }
  }

  .fs-browser-column-icon {
    width: $iconWidth;
    height: $lineHeight;
    margin: 0;
    padding: 7px 0;
  }

  .fs-browser-column-changed {
    width: $changedWidth;
  }

  .fs-browser-column-size {
    width: $sizeWidth;
  }

  .fs-browser-column-checkbox {
    margin: -15px -17px -15px -14px;
    padding: 15px 17px 15px 14px;

    span {
      @include checkbox($checkboxWidth);
      display: block;
    }
  }

  #fs-browser-header {
    padding: 0;
    margin-bottom: 20px;
    position: relative;

    .fs-browser-column {
      $paddingTopBottom: 0;

      position: relative;
      line-height: 30px;
      height: 30px;
      padding-top: $paddingTopBottom;
      padding-bottom: $paddingTopBottom;

      div {
        display: inline-block;
        width: auto;
      }
    }

    .fs-browser-column-icon,
    .fs-browser-column-name,
    .fs-browser-column-size,
    .fs-browser-column-changed {
      display: none;
    }

    #fs-browser-header-checkbox {
      cursor: pointer;
      display: inline-block;

      padding: 5px 16px 5px 15px;

      position: absolute;
      top: 15px;
      right: 18px;

      span {
        display: block;
        width: $checkboxWidth;
        height: $checkboxWidth;
        border: 1px solid $colorMediumGrey;
        border-radius: 2px;
      }

      &.fs-browser-header-checkbox-checked {
        span {
          @include checkboxChecked;

          background-size: 20px;
        }
      }

      &.fs-browser-header-checkbox-undetermined {
        span {
          @include checkboxUndetermined;
        }
      }
    }

    #fs-browser-action-sorting {
      padding: 2px 0;
      margin-left: -2px;
    }

    #fs-action-filter,
    #fs-action-sorting {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    #fs-action-sorting {
      width: auto;
      padding-left: 100%;
      white-space: nowrap;
    }

    #fs-action-filter-select,
    #fs-action-sorting-select {
      @include dropdown(140px, 34px);

      left: -1px;
      display: none;

      .bln-dropdown-spike {
        right: 108px;
      }

      .bln-dropdown-content {
        padding: 8px 0;

        input[type="checkbox"],
        input[type="radio"] {
          & + label {
            padding-left: 36px;
            padding-top: 0;
            vertical-align: text-top;
            min-height: 30px;
            margin-top: 0;
            color: $colorMediumGrey;
            font-size: $fontSizeParagraph;
            line-height: 30px;
            width: 100%;
            box-sizing: border-box;

            &:before {
              @include checkbox(15px);

              margin: 6px 0 0 10px;
            }
          }
          &:checked + label {
            color: $colorDarkGrey;

            &:before {
              @include checkboxChecked;

              background-size: 19px;
              margin-top: 7px;
            }
          }
        }
      }
    }

    #fs-action-sorting-select {
      width: 200px;

      .bln-dropdown-spike {
        right: 170px;
      }

      .bln-dropdown-content {
        li {
          position: relative;
        }

        input[type="radio"] {
          position: absolute;
          top: 7px;
          left: 8px;
          display: inline-block;

          & + label {
            cursor: pointer;

            &:before {
              display: none !important;
            }
          }
        }
      }
    }

  }

  #fs-browser-tree {

    width: 100%;
    overflow: hidden;
    // override touch-action: none, added by kendo as inline-style, which disables scrolling on iOS 13
    touch-action: auto !important;

    // single node
    .k-item {
      $paddingTopBottom: ($nodeHeight - $lineHeight) / 2;
      $paddingLeft: 13px;
      $paddingRight: 19px;

      padding: 0;
      margin: 0;

      background-color: $colorWhite;
      border: none;
      border-radius: $border-radius;
      margin-bottom: 5px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      .k-in {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: $paddingTopBottom $paddingRight $paddingTopBottom $paddingLeft;
        cursor: pointer;

        .fs-browser-column-name {
          width: calc(100% - #{$iconWidth + $checkboxWidth});
          height: $lineHeight;
          line-height: 17px;
          color: $colorDarkGrey;
          font-size: $fontSizeParagraph;
          font-weight: $fontWeightParagraph;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .fs-name {
            margin-top: 5px;
            display: inline-block;
          }

          & > p {
            margin-top: 2px;
            color: $colorMediumGrey;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .fs-ext {
            text-transform: uppercase;
          }

          .fs-filename-rename {
            font-size: $fontSizeParagraph;
            font-weight: $fontWeightParagraph;
            line-height: 17px;
            padding: 6px 6px 5px 6px;
            margin-top: 0;
            margin-left: -7px;
            border: 1px solid $colorLightGrey;
          }

          .fs-browser-column-name-path {
            display: none;
          }
        }

        .fs-browser-column-meta,
        .fs-browser-column-changed,
        .fs-browser-column-size {
          display: none;
        }

        .fs-browser-column-meta {
          color: $colorMediumGrey;

          @include clearfix;

          & > span,
          & > div {
            float: right;
            display: inline-block;
          }

          .fs-node-state {
            height: 24px;
          }

          .gr-icon {
            display: block;
          }

          .fs-color-tag {
            margin: 2px;
            width: 20px;
            height: 20px;
            border-radius: $border-radius;

            &.fs-color-tag-magenta {
              background-color: $colorMagenta;
            }
            &.fs-color-tag-purple {
              background-color: $colorPurple;
            }
            &.fs-color-tag-blue {
              background-color: $colorBlue;
            }
            &.fs-color-tag-green {
              background-color: $colorGreen;
            }
            &.fs-color-tag-yellow {
              background-color: $colorYellow;
            }
          }
        }

      }

      &:hover {
        $borderSize: 1px;

        background-color: rgba(57, 165, 255, 0.1);
        border: $borderSize solid $colorActiveBlue;

        .k-in {
          padding: ($paddingTopBottom - $borderSize) ($paddingRight - $borderSize) ($paddingTopBottom - $borderSize) ($paddingLeft - $borderSize);
        }
      }

      &[aria-selected="true"],
      &.fs-multiselected {
        @include shadow-selected;

        $borderSize: 2px;
        border: $borderSize solid $colorActiveBlue;

        .k-in {
          padding: ($paddingTopBottom - $borderSize) ($paddingRight - $borderSize) ($paddingTopBottom - $borderSize) ($paddingLeft - $borderSize);

          .fs-browser-column-checkbox {
            span {
              @include checkboxChecked;

              background-size: 20px;
            }
          }
        }
      }

      &.fs-file-dropable {
        &.fs-file-dropable-hover {
          background-color: rgba(126, 211, 33, 0.1);
        }

        $borderSize: 2px;
        border: $borderSize solid $colorSuccessGreen;

        .k-in {
          padding: ($paddingTopBottom - $borderSize) ($paddingRight - $borderSize) ($paddingTopBottom - $borderSize) ($paddingLeft - $borderSize);
        }
      }

      &.fs-file-disabled {
        opacity: 0.3;

        &[aria-selected="true"],
        &.fs-multiselected {
          opacity: 1;
        }

        &:hover {
          background-color: $colorWhite;
        }
      }

      &.fs-folderup {
        display: none;
      }
    }
  }

  #fs-action-refresh {
    @include icon-button($fsActionRefreshButtonSize, $fsActionRefreshButtonSize);

    background-color: $colorWhite;
    color: $colorActiveBlue;
    border-radius: 4px;
    top: $fsActionRefreshTop;
    left: calc(50% - #{$fsActionRefreshButtonSize/2});

    &:hover {
      color: $colorHoverBlue;
    }

    .fs-content-paste-active & {
      top: #{$fsActionRefreshTop + $fsContentHeightMultiselectS};
    }

    .fs-content-multiselect-active & {
      top: #{$fsActionRefreshTop + $fsContentHeightMultiselectS};
    }

    .fs-content-select-active & {
      top: #{$fsActionRefreshTop + $fsContentHeightSelectS};
    }
  }

  @media screen and (min-width: $breakpointBreadcrumbM) {
    #fs-browser-tree {
      .k-item {
        &.fs-folderup {
          display: block;
          margin-bottom: 20px;

          .k-in {
            .fs-browser-column-icon {
              color: $colorActiveBlue;
            }

            .fs-browser-column-name {
              color: $colorMediumGrey;
              line-height: $lineHeight;

              .fs-name {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $breakpointMetaVisible) {
    #fs-browser-tree {
      $metaPaddingSmallScreen: 25px;

      .k-item {
        .k-in {
          .fs-browser-column-meta {
            display: inline-block;
            width: $metaWidth + $metaPaddingSmallScreen;
            padding: 0 $metaPaddingSmallScreen 0 0;
          }

          .fs-browser-column-name {
            width: calc(100% - #{$iconWidth + $metaWidth + $metaPaddingSmallScreen + $checkboxWidth});
          }
        }
      }
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    padding-bottom: #{$bottomPadding} !important;

    #fs-browser-tree {
      .k-item {
        .k-in {
          .fs-browser-column-changed,
          .fs-browser-column-size,
          .fs-browser-column-meta {
            display: none;
          }

          .fs-browser-column-name {
            width: calc(100% - #{$iconWidth + $checkboxWidth});
          }
        }
      }
    }

    #fs-action-refresh {
      top: #{$fsActionRefreshTop} !important;
      left: calc(100% - #{$fsActionRefreshButtonSize});
    }
  }

  @media screen and (min-width: #{$breakpointMetaVisible + $pannelWidthM + 100px}) {
    #fs-browser-header {
      #fs-browser-header-checkbox {
        right: 20px;
      }
    }

    #fs-browser-tree {
      $metaPaddingSmallScreen: 25px;

      .k-item {
        .k-in {
          .fs-browser-column-meta {
            display: inline-block;
            width: $metaWidth + $metaPaddingSmallScreen;
            padding: 0 $metaPaddingSmallScreen 0 0;
          }

          .fs-browser-column-name {
            width: calc(100% - #{$iconWidth + $metaWidth + $metaPaddingSmallScreen + $checkboxWidth + 2px});
          }
        }
      }
    }
  }

  @media screen and (min-width: #{$breakpointSizeChangedVisible + $pannelWidthM + 100px}) {
    #fs-browser-header {
      border: 1px solid $headerBorderColor;
      border-radius: $border-radius;
      padding: 0 17px 0 12px;


      .fs-browser-column-icon,
      .fs-browser-column-name,
      .fs-browser-column-size,
      .fs-browser-column-changed {
        display: inline-block;
      }

      .fs-browser-column-icon {
        padding-top: 2px;

        .gr-icon {
          $iconSize: 13px;

          position: relative;
          top: 0;
          left: 3px;
          width: $iconSize;
          height: $iconSize;
        }
      }

      .fs-browser-column-name {
        width: calc(100% - #{$iconWidth + $changedWidth + $sizeWidth + $checkboxWidth + 2px});
      }

      .fs-browser-column-size,
      .fs-browser-column-changed {
        border-left: 1px dotted $headerBorderColor;
        padding-left: $columnPaddingLeftRight - 1px;
      }

      #fs-browser-action-sorting,
      #fs-action-sorting-select {
        display: none !important;
      }

      #fs-browser-header-checkbox {
        position: relative;
        top: auto;
        right: auto;
      }
    }

    #fs-browser-tree {
      .k-item {
        .k-in {
          .fs-browser-column-meta {
            padding-right: 0;
            width: $metaWidth;
          }

          .fs-browser-column-size,
          .fs-browser-column-changed {
            display: inline-block;
          }

          .fs-browser-column-name {
            width: calc(100% - #{$iconWidth + $metaWidth + $changedWidth + $sizeWidth + $checkboxWidth});

            line-height: $lineHeight;

            .fs-name {
              margin-top: 0;
            }

            .fs-browser-column-name-size-changed {
              display: none !important;
            }

            .fs-browser-column-name-path {
              display: block;
            }
          }

          &.fs-browser-search-item {
            .fs-browser-column-name {
              line-height: 17px;

              .fs-name {
                margin-top: 5px;
              }

              & > p {
                line-height: 14px;
                margin-top: 2px;
                color: $colorMediumGrey;
              }
            }
          }
        }
      }
    }
  }
}

.k-drag-clue {
  position: absolute;
  border: 2px solid $colorActiveBlue;
  border-radius: 4px;
  background-color: $colorWhite;
  opacity: 1;
  width: 50px;
  height: 50px;
  padding: 0;

  .gr-icon {
    color: $colorMediumGrey;
    position: absolute;
    top: 13px;
    left: 13px;
  }

  .clue-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: $colorActiveBlue;
    color: $colorWhite;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
  }

  .k-icon {
    display: none;
  }
}


.is-touch #fs-browser #fs-action-refresh {
  display: none;
}
