#fs-browser {
  $headerHeight: 28px; //height of the header
  $headerBorderColor: $colorLightGrey;
  $nodeHeight: 50px; //height of a single node

  $lineHeight: 24px;

  $iconWidth: 24px;
  $metaWidth: 72px;
  $sizeWidth: 110px;
  $changedWidth: 150px;
  $checkboxWidth: 18px;

  $columnPadding: 0 25px;

  $border-radius: 4px;

  .fs-browser-column {
    display: inline-block;
    box-sizing: border-box;
    padding: $columnPadding;
    line-height: $lineHeight;
    vertical-align: middle;
    color: $colorMediumGrey;
  }

  .fs-browser-column-icon {
    width: $iconWidth;
    height: $iconWidth;
    margin: 0;
    padding: 0;
  }

  .fs-browser-column-changed {
    width: $changedWidth;
  }

  .fs-browser-column-size {
    width: $sizeWidth;
  }

  .fs-browser-column-checkbox {
    @include checkbox($checkboxWidth);
  }

  #fs-browser-header {
    border: 1px solid $headerBorderColor;
    border-radius: $border-radius;
    padding: 0 10px;
    margin-bottom: 20px;
    position: relative;

    .fs-browser-column {
      $paddingTopBottom: ($headerHeight - $lineHeight) / 2;

      position: relative;
      padding-top: $paddingTopBottom;
      padding-bottom: $paddingTopBottom;
      div {
        display: inline-block;
        width: auto;
      }
    }

    .fs-browser-column-name {
      width: calc(100% - #{$iconWidth} - #{$changedWidth} - #{$sizeWidth} - #{$checkboxWidth});
    }

    .fs-browser-column-size,
    .fs-browser-column-changed {
      border-left: 1px dotted $headerBorderColor;
    }


    #fs-browser-header-checkbox {
      width: $checkboxWidth;
      height: $checkboxWidth;
      border: 1px solid $colorMediumGrey;
      border-radius: 2px;
    }

    #fs-action-filter {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    #fs-action-filter-select {
      @include dropdown(140px, 24px, 10px);

      left: 0;
      display: none;

      .bln-dropdown-spike {
        right: 108px;
      }

      .bln-dropdown-content {
        padding: 8px 0;

        input[type="checkbox"] {
          & + label {
            padding-left: 36px;
            vertical-align: text-top;
            min-height: 30px;
            margin-top: 0;
            color: $colorMediumGrey;
            font-size: 15px;
            line-height: 30px;

            &:before {
              @include checkbox(15px);

              margin: 6px 0 0 10px;
            }
          }
          &:checked + label {
            color: $colorDarkGrey;

            &:before {
              @include checkboxChecked;
            }
          }
        }
      }
    }
  }

  #fs-browser-tree {

    width: 100%;

    // single node
    .k-item {
      $paddingTopBottom: ($nodeHeight - $lineHeight) / 2;
      $paddingLeftRight: 10px;
      padding: 0;
      margin: 0;

      background-color: $colorWhite;
      border: none;
      border-radius: $border-radius;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(57, 165, 255, 0.1);
      }

      &[aria-selected="true"] {
        @include shadow-selected;

        $borderSize: 2px;
        border: $borderSize solid $colorActiveBlue;

        .k-in {
          padding: ($paddingTopBottom - $borderSize) ($paddingLeftRight - $borderSize);

          .fs-browser-column-name {
            width: calc(100% - #{$iconWidth} - #{$metaWidth} - #{$changedWidth} - #{$sizeWidth} - #{$checkboxWidth} - #{ ($paddingLeftRight - $borderSize) * 2});
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .k-in {
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: $paddingTopBottom $paddingLeftRight;
        cursor: pointer;

        .fs-browser-column-name {
          width: calc(100% - #{$iconWidth} - #{$metaWidth} - #{$changedWidth} - #{$sizeWidth} - #{$checkboxWidth} - #{$paddingLeftRight * 2});
          height: 24px;
          color: $colorDarkGrey;
          font-size: 15px;

          .fs-ext {
            text-transform: uppercase;
          }
        }

        .fs-browser-column-meta {
          width: $metaWidth;
          padding: 0;
          color: $colorMediumGrey;

          @include clearfix;

          & > span,
          & > div {
            float: right;
            display: inline-block;
          }

          .fs-node-shared {
            height: 24px;
          }

          .fs-color-tag {
            margin: 2px;
            width: 20px;
            height: 20px;
            border-radius: $border-radius;

            &.fs-color-tag-magenta {
              background-color: $colorMagenta;
            }
            &.fs-color-tag-purple {
              background-color: $colorPurple;
            }
            &.fs-color-tag-blue {
              background-color: $colorBlue;
            }
            &.fs-color-tag-green {
              background-color: $colorGreen;
            }
            &.fs-color-tag-yellow {
              background-color: $colorYellow;
            }
          }
        }
      }
    }

    // selected node
    .k-state-selected,
    .fs-multiselected {
      .fs-browser-column-checkbox {
        @include checkboxChecked;
      }
    }
  }
}
