#fs-browser {
  $headerHeight: 28px; //height of the header
  $headerBorderColor: $colorLightGrey;
  $nodeHeight: 50px; //height of a single node

  $lineHeight: 30px;

  $iconWidth: 26px;
  $metaWidth: 72px;
  $sizeWidth: 110px;
  $changedWidth: 150px;
  $checkboxWidth: 18px;

  $columnPaddingLeftRight: 25px;

  $border-radius: 4px;

  .fs-browser-column {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 $columnPaddingLeftRight;
    line-height: $lineHeight;
    vertical-align: middle;
    color: $colorMediumGrey;

    &.fs-browser-column-sortable {
      cursor: pointer;
    }
  }

  .fs-browser-column-icon {
    width: $iconWidth;
    height: $lineHeight;
    margin: 0;
    padding: 3px 0;
  }

  .fs-browser-column-changed {
    width: $changedWidth;
  }

  .fs-browser-column-size {
    width: $sizeWidth;
  }

  .fs-browser-column-checkbox {
    @include checkbox($checkboxWidth);
  }

  #fs-browser-header {
    border: 1px solid $headerBorderColor;
    border-radius: $border-radius;
    padding: 0 17px 0 12px;
    margin-bottom: 20px;
    position: relative;

    .fs-browser-column {
      $paddingTopBottom: ($headerHeight - $lineHeight) / 2;

      position: relative;
      padding-top: $paddingTopBottom;
      padding-bottom: $paddingTopBottom;
      div {
        display: inline-block;
        width: auto;
      }
    }

    .fs-browser-column-name {
      width: calc(100% - #{$iconWidth} - #{$changedWidth} - #{$sizeWidth} - #{$checkboxWidth});
    }

    .fs-browser-column-size,
    .fs-browser-column-changed {
      border-left: 1px dotted $headerBorderColor;
      padding-left: $columnPaddingLeftRight - 1px;
    }


    #fs-browser-header-checkbox {
      width: $checkboxWidth;
      height: $checkboxWidth;
      border: 1px solid $colorMediumGrey;
      border-radius: 2px;
      cursor: pointer;

      &.fs-browser-header-checkbox-checked {
        @include checkboxChecked;
      }

      &.fs-browser-header-checkbox-undetermined {
        @include checkboxUndetermined;
      }
    }

    #fs-action-filter {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    #fs-action-filter-select {
      @include dropdown(140px, 24px, 10px);

      left: 0;
      display: none;

      .bln-dropdown-spike {
        right: 108px;
      }

      .bln-dropdown-content {
        padding: 8px 0;

        input[type="checkbox"] {
          & + label {
            padding-left: 36px;
            vertical-align: text-top;
            min-height: 30px;
            margin-top: 0;
            color: $colorMediumGrey;
            font-size: 15px;
            line-height: 30px;

            &:before {
              @include checkbox(15px);

              margin: 6px 0 0 10px;
            }
          }
          &:checked + label {
            color: $colorDarkGrey;

            &:before {
              @include checkboxChecked;
            }
          }
        }
      }
    }
  }

  #fs-browser-tree {

    width: 100%;

    // single node
    .k-item {
      $paddingTopBottom: ($nodeHeight - $lineHeight) / 2;
      $paddingLeft: 13px;
      $paddingRight: 19px;
      padding: 0;
      margin: 0;

      background-color: $colorWhite;
      border: none;
      border-radius: $border-radius;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(57, 165, 255, 0.1);
      }

      &:last-child {
        margin-bottom: 0;
      }

      .k-in {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: $paddingTopBottom $paddingRight $paddingTopBottom $paddingLeft;
        cursor: pointer;

        .fs-browser-column-name {
          width: calc(100% - #{$iconWidth + $metaWidth + $changedWidth + $sizeWidth + $checkboxWidth});
          height: $lineHeight;
          color: $colorDarkGrey;
          font-size: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .fs-ext {
            text-transform: uppercase;
          }

          .fs-filename-rename {
            font-size: 15px;
            line-height: 17px;
            padding: 5px 6px 6px 6px;
            margin-top: 0;
            margin-left: -7px;
            border: 1px solid $colorLightGrey;
          }
        }

        .fs-browser-column-meta {
          width: $metaWidth;
          padding: 0;
          color: $colorMediumGrey;

          @include clearfix;

          & > span,
          & > div {
            float: right;
            display: inline-block;
          }

          .fs-node-shared {
            height: 24px;
          }

          .fs-color-tag {
            margin: 2px;
            width: 20px;
            height: 20px;
            border-radius: $border-radius;

            &.fs-color-tag-magenta {
              background-color: $colorMagenta;
            }
            &.fs-color-tag-purple {
              background-color: $colorPurple;
            }
            &.fs-color-tag-blue {
              background-color: $colorBlue;
            }
            &.fs-color-tag-green {
              background-color: $colorGreen;
            }
            &.fs-color-tag-yellow {
              background-color: $colorYellow;
            }
          }
        }
      }

      &[aria-selected="true"],
      &.fs-multiselected {
        @include shadow-selected;

        $borderSize: 2px;
        border: $borderSize solid $colorActiveBlue;

        .k-in {
          padding: ($paddingTopBottom - $borderSize) ($paddingRight - $borderSize) ($paddingTopBottom - $borderSize) ($paddingLeft - $borderSize);

          .fs-browser-column-checkbox {
            @include checkboxChecked;
          }
        }
      }

      &.fs-file-dropable {
        &:hover {
          background-color: rgba(126, 211, 33, 0.1);
        }

        $borderSize: 2px;
        border: $borderSize solid $colorSuccessGreen;

        .k-in {
          padding: ($paddingTopBottom - $borderSize) ($paddingRight - $borderSize) ($paddingTopBottom - $borderSize) ($paddingLeft - $borderSize);
        }
      }

      &.fs-file-disabled {
        opacity: 0.3;

        &[aria-selected="true"],
        &.fs-multiselected {
          opacity: 1;
        }

        &:hover {
          background-color: $colorWhite;
        }
      }

      &.fs-folderup {
        margin-bottom: 20px;

        .k-in {
          .fs-browser-column-icon {
            color: $colorActiveBlue;
          }

          .fs-browser-column-name {
            color: $colorMediumGrey;
          }
        }
      }
    }
  }
}

.k-drag-clue {
  position: absolute;
  border: 2px solid $colorActiveBlue;
  border-radius: 4px;
  background-color: $colorWhite;
  opacity: 1;
  width: 50px;
  height: 50px;
  padding: 0;

  .gr-icon {
    color: $colorMediumGrey;
    position: absolute;
    top: 13px;
    left: 13px;
  }

  .clue-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: $colorActiveBlue;
    color: $colorWhite;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
  }

  .k-icon {
    display: none;
  }
}
