#fs-crumb {
  @include clearfix;

  width: calc(100% - 100px);
  display: block;
  float: left;
  margin: 15px 0 8px 0;

  #fs-crumb-back {
    $buttonSize: 30px;

    @include icon-button($buttonSize);

    display: none;
    color: $colorActiveBlue;
    cursor: pointer;
    float: left;
    margin: -1px 16px 0 0;
  }

  &.is-child #fs-crumb-back {
    display: block;
  }

  ul {
    float: left;
    width: calc(100% - 62px);

    li {
      display: none !important;
      color: $colorMediumGrey;
      width: auto;
      height: 17px;
      line-height: 17px;
      font-size: $fontSizeParagraph;
      font-weight: $fontWeightParagraph;
      letter-spacing: 0.3px;
      text-align: left;
      vertical-align: baseline;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      cursor: pointer;

      &:after {
        // TODO pixtron - use svg or icon font
        content: ">";
        display: inline-block;
        padding: 0 10px;
      }

      &:last-child {
        display: inline-block !important;
        color: $colorDarkGrey;
        width: auto;
        height: 27px;
        line-height: 27px;
        font-size: $fontSizeParagraph;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: left;

        &:after {
          display: none;
        }
      }

      &.removed {
        cursor: default;
      }

      @media screen and (min-width: $breakpointBreadcrumb) {
        display: inline-block !important;

        &:last-child {
          @include font-headline;
          height: 27px;
          line-height: 27px;
        }
      }
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    #fs-crumb-back {
      display: none !important;
    }

    ul {
      float: none;
      width: auto;
    }
  }
}
