#fs-notifications-count {
  $size: 20px;
  position: absolute;
  top: -7px;
  right: -7px;

  display: none;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 2px solid $colorWhite;
  background-color: $colorActiveBlue;
  color: $colorWhite;

  font-size: 11px;
  font-weight: bold;
  line-height: $size;
  text-align: center;
}

#fs-notifications-header {
  @include clearfix;

  margin-bottom: 26px;

  h3 {
    float: left;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    color: $colorDarkGrey;
  }

  #fs-notifications-delete-all {
    display: none;
  }

  .has-messages & #fs-notifications-delete-all {
    display: block;
    position: relative;
    top: -10px;
    float: right;
  }
}
