#fs-browser-select-action {
  $buttonHeight: 30px;

  margin-top: 16px;
  margin-bottom: 20px;
  height: $buttonHeight;
  width: 345px;

  li {
    @include icon-button-small($buttonHeight, $buttonHeight);

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    margin-bottom: 0;
  }
}
