#fs-browser-select-action {
  $buttonHeightS: 40px;
  $buttonHeightM: 30px;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  margin: 16px -10px 10px;
  padding-bottom: 10px;
  height: $buttonHeightS;
  width: auto;

  li {
    @include icon-button-small($buttonHeightS, $buttonHeightS);

    margin-right: 8px;

    &:first-child {
      margin-left: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.fs-action-disabled {
      display: none;
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    margin: 16px 0 0 0;
    padding-bottom: 0;

    width: 345px;
    height: $buttonHeightM;

    li {
      width: $buttonHeightM;
      height: $buttonHeightM;
      margin-right: 13px;


      &:first-child {
        margin-left: 0;
      }

      &.fs-action-disabled {
        display: inline-block;
      }
    }
  }
}
