@import './fsContentView/fsEvents';
@import './fsContentView/fsHistory';
@import './fsContentView/fsMetadata';
@import './fsContentView/fsPreview';
@import './fsContentView/fsProperties';
@import './fsContentView/fsShare';
@import './fsContentView/fsShareLink';


#fs-content-view-wrap {
  $contentViewSmallAnimationDuration: 0.5s;

  position: absolute;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  background-color: $colorWhite;

  &.active-mobile {
    right: 0;
    animation: fs-content-view-small-in $contentViewSmallAnimationDuration ease-in-out;
  }

  &.inactive-mobile {
    animation: fs-content-view-small-out $contentViewSmallAnimationDuration ease-in-out;
  }

  #fs-content-view {
    @include accordion($fsContentSidePaddingS);

    background-color: $colorWhite;
    padding: 0 $fsContentSidePaddingS*2;
    height: calc(100% - 65px);

    dt {
      display: none;

      margin: 0 -1*$fsContentSidePaddingM 0;
      padding: 16px $fsContentSidePaddingM 18px;

      &.active {
        display: block;

        &:before {
          display: none;
        }

        .gr-i-arrowhead-n {
          display: none;
        }
      }

      .gr-icon {
        display: none;
      }
    }

    dd {
      display: none;
      padding: 0;

      &.active {
        &:before {
          display: none;
        }

        max-height: calc(100% - 55px);
        overflow: scroll;
      }

      &.disabled {
        display: none !important;
      }
    }
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    position: static;
    width: auto;
    right: auto;
    top: auto;
    bottom: auto;
    height: auto;

    &.active-mobile {
      right: auto;
      animation: none;
    }

    #fs-content-view-header {
      display: none;
    }

    #fs-content-view {
      margin-top: 20px;
      padding: 0;

      dt {
        display: block;
        position: relative;
        cursor: pointer;

        .gr-icon {
          display: block;
          position: absolute;
          top: 13px;
          right: 20px;
          color: $colorMediumGrey;
        }

        .gr-i-arrowhead-n {
          display: none;
        }

        &.active {
          &:before {
            content: "";
            display: block;
            height: 100%;
            width: 2px;
            background-color: $colorActiveBlue;
            position: absolute;
            left: 0;
            top: 0;
          }

          .gr-i-arrowhead-s {
            display: none;
          }
          .gr-i-arrowhead-n {
            display: block;
          }
        }

        &.disabled {
          color: $colorLightGrey;

          .gr-i-arrowhead-s {
            color: $colorLightGrey;
          }
        }
      }

      dd {
        position: relative;
        padding-top: 2px;
        padding-bottom: 65px;

        &.active {
          &:before {
            content: "";
            display: block;
            height: 100%;
            width: 2px;
            background-color: $colorActiveBlue;
            position: absolute;
            left: -30px;
            top: 0;
          }

          max-height: auto;
          overflow: auto;
        }
      }
    }
  }
}

@keyframes fs-content-view-small-in {
  0%   {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

@keyframes fs-content-view-small-out {
  0%   {
    right: 0;
  }

  100% {
    right: -100%;
  }
}
