#fs-browser-summary,
#fs-properties-name {
  @include clearfix;
  @include font-paragraph-bold;

  span {
    $extWidth: 53px;
    $extMargin: 3px;

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;

    &.fs-value {
      max-width: calc(100% - #{$extWidth + $extMargin});

      &:last-child {
        max-width: 100%;
      }
    }

    &.fs-ext {
      margin-left: $extMargin;
      text-transform: uppercase;
      max-width: $extWidth;
    }
  }
}

#fs-browser-summary {
  color: $colorMediumGrey;
  font-weight: 400;
  display: none;
}
