#fs-browser-summary,
#fs-properties-name,
#fs-content-view-header {
  $extWidth: 53px;
  $extMargin: 3px;

  @include clearfix;
  @include font-paragraph-small-bold;

  position: relative;

  div:first-child {
    height: 20px;

    span {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      float: left;

      &.fs-value {
        max-width: calc(100% - #{$extWidth + $extMargin + 30px)});

        &:last-child {
          max-width: calc(100% - 30px);
        }
      }

      &.fs-ext {
        margin-left: $extMargin;
        text-transform: uppercase;
        max-width: $extWidth;
      }
    }

    input {
      position: absolute;
      left: -4px;
      top: -5px;
      width: calc(100% - 60px);
    }
  }

  .fs-content-close {
    @include icon-button(24px);

    position: absolute;
    top: 0;
    right: 0;
    color: $colorMediumGrey;
  }

  @media screen and (min-width: $breakpointPannelVisible) {
    @include font-paragraph-bold;

    div:first-child {
      span {
        &.fs-value {
          max-width: calc(100% - #{$extWidth + $extMargin});

          &:last-child {
            max-width: 100%;
          }
        }
      }
    }

    .fs-content-close {
      display: none;
    }
  }
}

#fs-browser-summary {
  color: $colorMediumGrey;
  font-weight: 400;
  display: none;
}

#fs-content-view-header {
  position: relative;
  padding: 20px 20px 20px 44px;

  .fs-content-view-close {
    display: block;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 24px;
    height: 24px;

    color: $colorMediumGrey;
  }

  .fs-value,
  .fs-ext {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }

  .fs-value {
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);

    &:last-child {
      max-width: 100%;
    }
  }

  .fs-ext {
    text-transform: uppercase;
  }

}
