#fs-libreoffice-prompt {
  display: none;
}

#fs-office-join-prompt {
  .fs-prompt-window-content {
    ul {
      margin-top: 10px;

      input[type="radio"] {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
