#fs-history {

  ul {
    @include history-list;

    margin-bottom: 20px;
  }

  #fs-history-actions {
    @include clearfix;

    input {
      float: left;
    }

    button {
      float: right;
    }
  }
}
