#fs-history {

  ul {
    @include history-list;

    margin-bottom: 20px;
  }

  #fs-history-actions {
    input {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 350px) {
    #fs-history-actions {
      @include clearfix;

      input {
        float: left;
        margin-bottom: 0;
      }

      button {
        float: right;
      }
    }
  }
}
