#fs-preview {
  #fs-preview-thumb {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 58.823529411765%;
    background-color: $colorBrightGrey;
    cursor: pointer;

    & > div {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      text-align: center;

      .fs-preview-placeholder,
      img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  #fs-preview-properties {
    margin-top: 19px;

    .fs-preview-property {
      border-top: 1px solid $colorBrightGrey;
    }

    #fs-properties-meta-tags {
      $buttonHeight: 30px;


      padding: 9px 0 10px;

      #fs-properties-meta-tags-input {
        display: table;
        width: 100%;
        border-collapse: collapse;

        & > div {
          display: table-cell;
          height: $buttonHeight;
          vertical-align: middle;

        }

        .fs-preview-label {
          width: 0; //width given by content
        }

        #fs-preview-add-tag-button {
          width: $buttonHeight+10px;

          .fs-add {
            @include icon-button-small($buttonHeight, $buttonHeight);
            float: right;
            margin: 0;

            .gr-icon {
              width: 18px;
              height: 18px;
            }
          }
        }

        #fs-preview-add-tag {
          .k-widget {
            margin: 0;
            padding: 0;
          }

          input {
            display: none;
          }

          .k-autocomplete {
            background: none;
            border: none;

            input:focus,
            input.k-input:focus,
            .k-input:focus,
            input:focus:hover,
            input.k-input:focus:hover,
            .k-input:focus:hover {
              -moz-box-shadow: none;
               box-shadow: none;
               border-color: none;
            }

            //TODO pixtron - move these styles to global scope?
            input {
              display: block;
              background-color: transparent;
              border-radius: 0;
              border: none;
              height: 30px;
              font-size: 15px;
              line-height: 30px;
              padding: 0 6px;
              outline: none;
              margin: 0;
            }

            .k-icon {
              display: none;
            }
          }
        }
      }

      #fs-properties-meta-tags-tags {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        &.fs-select-tags {
          //TODO pixtron - this does not work yet as it is not populated by kedo autocomplete. See data source problem in initMetaTagCompletion

          /*position: absolute;
          top: 0;
          left:0;
          width: 100px;
          height: 50px;
          overflow: scroll;
          border: solid 1px #999;
          background: none repeat scroll 0 0 #f0f0f0;
          background-color: fuchsia;
          border: 1px solid #aaa;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 1) inset;
          padding: 0;*/
        }

        ul {
          @include clearfix;

          li {
            float: left;
            display: block;
            background-color: $colorBrightGrey;
            border: 1px solid $colorLightGrey;
            border-radius: 4px;
            margin: 5px 5px 0 0;
            height: 30px;
            padding: 0 11px;
            box-sizing: border-box;

            &:last-child {
              margin-right: 0;
            }

            .tag-name,
            .fs-delete {
              display: inline-block;
              line-height: 28px;
              letter-spacing: 0.5px;
              color: $colorDarkGrey;
            }

            .tag-name {
              padding-right: 10px;
            }

            .fs-delete {
              cursor: pointer;
            }
          }
        }
      }
    }

    #fs-properties-meta-color {
      @include clearfix;
      padding-top: 12px;

      .fs-preview-label,
      ul {
        display: inline-block;
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
      }

      ul {
        //list of color tags
        float: right;

        li {
          display: inline-block;
          margin-right: 10px;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }
        }

        .fs-color-magenta {
          border-color: $colorMagenta;
        }
        .fs-color-purple {
          border-color: $colorPurple;
        }
        .fs-color-blue {
          border-color: $colorBlue;
        }
        .fs-color-green {
          border-color: $colorGreen;
        }
        .fs-color-yellow {
          border-color: $colorYellow;
        }


        .fs-color-selected {
          &.fs-color-magenta {
            background-color: $colorMagenta;
          }
          &.fs-color-purple {
            background-color: $colorPurple;
          }
          &.fs-color-blue {
            background-color: $colorBlue;
          }
          &.fs-color-green {
            background-color: $colorGreen;
          }
          &.fs-color-yellow {
            background-color: $colorYellow;
          }
        }
      }

    }
  }
}
