#fs-external-storage .error-message {
    padding-bottom: 12px;
}

#fs-external-storage label {
    padding-bottom: 4px;
    display: block;
}

#fs-external-storage input[type=submit] {
    float: right;
    margin-left: 5px;
}
