@import '../../../themes/default/scss/includes/colors.scss';
@import '../../../themes/default/scss/includes/mixins.scss';

#fs-external-storage .error-message {
  padding-bottom: 12px;
}

#fs-external-storage label {
  margin: 10px 0 5px 0;
  display: block;
}

#fs-external-storage input[type=submit] {
  float: right;
  margin: 15px 0 0 5px;
}
